<div class='container container-index'>
    <h1>Авторизация</h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'textfield' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'textfield' %>
            <%= f.submit "Авторизоваться", class: "btn btn-large btn-primary" %>
        <% end %>
        <p><p> Нет учетной записи? <%= link_to "Зарегистрироваться!", signup_path %></p></p>
      </div>
    </div>
</div>
